<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Notification E-mail</title>
</head>

<body>
    <div>
        <div style="background-color: #ffbf00; padding-left: 16px;" width="30%">
            <img src="http://newage.a1-au.com/static/newage/images/logo.png" style="width:226px;height:35px;" />
        </div>
        <div width="70%" style="background-color: #ffbf00; color:#000000; font-size: 16px; font-weight: 700;">
            <a>From the New Age Caravans Team</a>
        </div>
    </div>
    <div>
        {% block content %}{{ content|safe }}{% endblock %}
    </div>
    <div>
        <p>&copy; 2016 New Age Caravans. All rights reserved.</p>
        <p>
          29 Shirley Way, Epping, VIC, 3076.
          <br>T. 03 9305 1714
        </p>
    </div>

</body>
</html>
