    
<div id="transport_dashboard">
    <top-bar>
        <h2 class="top-bar__title">Pop-Top/Campers Production Status</h2>
    </top-bar>

    <messages>{{ order.messages }}</messages>
</div>


<div id="transport_dashboard_status">
   



    <div class="content">
        <table style="table-layout:fixed">
            <thead>
                <tr>                    
                    <th style="background-color: #f49e95">Chassis </th>                          
                    <th style="background-color: #82c0ea">Building  </th>                       
                    <th style="background-color: #c3c6c9">Pre-Wire  </th>                      
                    <th style="background-color: #76f4db">Aluminium / <br> Fit Off  </th> 
                    <th style="background-color: #d074f4">Finishing  </th>
                    <th style="background-color: #ABB2B9">Detailing Canopy  </th>
                    <th style="background-color: #A9CCE3">Water Testing  </th>
                    <th style="background-color: #5ee796">QC  </th>
                    <th style="background-color: #f9d959">Final QC </th>
                    <th style="background-color: #f2b47f">Ready For Dispatch</th>
                    <th style="background-color: #7ac4f4">Dispatched Today  </th>
                    <th style="background-color: #99abbd">Dispatched Yesterday  </th>
                    <th style="background-color: #a4cfea">Dispatched <br> This Week  </th>
                    <th style="background-color: #c884e5">Dispatched <br> This Month  </th>
                </tr>
            </thead>
            <tbody>
                <tr>  
                    <th style="background-color: #E6B0AA"> {{ total_count.chassis_count }} </th>

                    <th style="background-color: #AED6F1"> {{ total_count.building_count }} </th>                          
                    <th style="background-color: #E5E7E9"> {{ total_count.prewire_count }} </th>                          
                    <th style="background-color: #A3E4D7"> {{ total_count.aluminium_count }} </th>                          
                    <th style="background-color: #D2B4DE"> {{ total_count.finishing_count }} </th>                          
                    
                    <th style="background-color: #ABB2B9"> {{ total_count.detailing_count }} </th>
                    
                    <th style="background-color: #A9CCE3"> {{ total_count.water_test_count }} </th>

                    <th style="background-color: #A9DFBF"> {{ total_count.actual_qc_count }} </th>                          
                    <th style="background-color: #F9E79F"> {{ total_count.final_qc_count }} </th>                          
                    <th style="background-color: #F5CBA7"> {{ total_count.email_sent_green_count }}  </th>                          
                    <th style="background-color: #A9CCE3"> {{ total_count.today_dispatched_count }} </th>                          
                    <th style="background-color: #ABB2B9"> {{ total_count.yesterday_dispatched_count }} </th>                          
                    <th style="background-color: #D4E6F1"> {{ total_count.this_week_dispatched_count }} </th>                          
                    <th style="background-color: #D7BDE2"> {{ total_count.this_month_dispatched_count }} </th>                          
                </tr>
                <tr>
                    <th valign="top" style="background-color: #E6B0AA">
                        <table rules="none">
                            
                            <tbody >
                                <tr ng-repeat="chassis in chassis_list">              
                                    <td>
                                        <a href="{{ chassis.url }}" target="_blank"> {{ chassis.chassis }} </a> 
                                    </td>                          
                                </tr>
                            <tbody>
                        </table>
                    </th>  
                
                    <th valign="top" style="background-color: #AED6F1">
                        <table rules="none"> 
                           
                            <tbody>
                                <tr ng-repeat="building in building_list">  
                                    <td>
                                        <a href="{{ building.url }}" target="_blank"> {{ building.chassis}} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>                    
                    
                    <th valign="top" style="background-color: #E5E7E9">
                        <table rules="none"> 
                             
                            <tbody>
                                      
                                <tr ng-repeat="prewire in prewire_list">                         
                                    <td>
                                        <a href="{{ prewire.url }}" target="_blank"> {{ prewire.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>                    

                    <th valign="top" style="background-color: #A3E4D7">
                        <table rules="none">
                            
                            <tbody> 
                                <tr ng-repeat="aluminium in aluminium_list">                          
                                    <td> 
                                        <a href="{{ aluminium.url }}" target="_blank"> {{ aluminium.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th> 

                    <th valign="top" style="background-color: #D2B4DE">
                        <table rules="none">
                         
                        <tbody>
                            <tr ng-repeat="finishing in finishing_list">                         
                                <td>
                                    <a href="{{ finishing.url }}" target="_blank"> {{ finishing.chassis }} </a> 
                                </td>
                            </tr>
                        </tbody> 
                        </table>
                    </th> 

                    <th valign="top" style="background-color: #ABB2B9">
                        <table rules="none">
                         
                        <tbody>
                            <tr ng-repeat="detailing in detailing_list">                         
                                <td>
                                    <a href="{{ detailing.url }}" target="_blank"> {{ detailing.chassis }} </a> 
                                </td>
                            </tr>
                        </tbody> 
                        </table>
                    </th> 

                   
                    <th valign="top" style="background-color: #A9CCE3">
                        <table style="table-layout:fixed" >
                        <col style="width:20%">
                        <col style="width:80%">
                        <tbody>
                            <tr ng-repeat="water_test in water_test_list">                         
                            <td>
                                    <div> 
                                        <font face="Arial" color="Black"> <b>*</b>  </font>
                                    </div> 
                                </td>
                                <td>
                                    <a href="{{ water_test.url }}" target="_blank"> {{ water_test.chassis }} </a> 
                                </td>
                            </tr>
                        </tbody> 
                        </table>
                    </th>   
                    <th valign=top style="background-color: #A9DFBF"> 
                     <table style="table-layout:fixed" >
                                <col style="width:20%">
                                <col style="width:80%">
                            <tbody> 
                                <tr ng-repeat="actual_qc in actual_qc_list">                           
                                     <td>
                                    <div ng-if="actual_qc.check_weights"> 
                                         <span style='font-size:14px;color:green'>&#xbb;</span>  
                                    </div> 
                                    <div ng-if="!actual_qc.check_weights">
                                    <span style='font-size:14px;color:red'>&#xbb;</span>   
                                        <!-- 
                                            <font face="Arial" color="Red"><b> *</b> {{ actual_qc.weight_tare }} </font> 
                                        -->
                                    </div>
                                    </td>
                                    <td> 
                                        <a href="{{ actual_qc.url }}" target="_blank"> {{ actual_qc.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>

                    <th valign="top" style="background-color: #F9E79F">
                         <table style="table-layout:fixed" >
                                <col style="width:20%">
                                <col style="width:80%">
                            <tbody>  
                                <tr ng-repeat="final_qc in final_qc_list">                          
                                   <td> 
                                        <div ng-if="final_qc.check_weights"> 
                                            <span style='font-size:14px;color:green'>&#xbb;</span>   
                                    </div> 
                                    <div ng-if="!final_qc.check_weights"> 
                                        <span style='font-size:14px;color:red'>&#xbb;</span>   
                                    </div>
                                </td>
                                    <td> 
                                        <a href="{{ final_qc.url }}" target="_blank"> {{ final_qc.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    
                    <th valign="top" style="background-color: #F5CBA7">
                        <table rules="none" valign="top"> 
                            
                            <tbody>

                                 <tr ng-repeat="email_sent_green in email_sent_green_list" valign="top">                          
                                    <td valign="top">
                                    <div ng-if="email_sent_green.status_red"> 
                                                   

                        <a href="{{ email_sent_green.url }}" style="color:#FF6347;"  target="_blank" >
                                                                   {{ email_sent_green.chassis }} </a>
                                 
                                    </div>
                                 </td>
                                 </tr>   
                                 <tr ng-repeat="email_sent_green in email_sent_green_list" valign="top">
                                    <td>
                                    <div ng-if="email_sent_green.status_green"> 
                                                                  
                        <a href="{{ email_sent_green.url }}" style="color:#32CD32;" target="_blank"> 
                                                                  {{ email_sent_green.chassis }}
                                                              </a>
                                 
                                    </div>
                                </td>
                                </tr>

                                <tr ng-repeat="email_sent_green in email_sent_green_list" valign="top">
                                    <td>
                                    <div ng-if="email_sent_green.status_grey"> 
                                                                  
                        <a href="{{ email_sent_green.url }}" style="color:#000000;"  target="_blank"> 
                                                                  {{ email_sent_green.chassis }}
                                                                   </a> 
                                                               
                                 
                                    </div>


                                    

                                
                                    </td>
                                </tr>

 
                                <!-- email_sent_green_list -->
                           
                        </tbody>
                        </table>
                    </th>                     

                    <th valign="top" style="background-color: #A9CCE3">
                        <table rules="none">
                            
                            <tbody> 
                                <tr ng-repeat="today_dispatched in today_dispatched_list">                       
                                    <td> 
                                        <a href="{{ today_dispatched.url }}" target="_blank"> {{ today_dispatched.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>                    

                    <th valign="top" style="background-color: #ABB2B9">
                        <table rules="none">
                            
                            <tbody> 
                                <tr ng-repeat="yesterday_dispatched in yesterday_dispatched_list">
                                    <td> 
                                        <a href="{{ yesterday_dispatched.url }}" target="_blank"> {{ yesterday_dispatched.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                    </th>                                   

                    <th valign="top" style="background-color: #D4E6F1">
                        <table rules="none">
                            
                            <tbody> 
                                <tr ng-repeat="this_week_dispatched in this_week_dispatched_list">
                                    <td> 
                                        <a href="{{ this_week_dispatched.url }}" target="_blank"> {{ this_week_dispatched.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>                    

                    <th valign="top" style="background-color: #D7BDE2">
                        <table rules="none"> 
                            
                            <tbody> 
                                <tr ng-repeat="this_month_dispatched in this_month_dispatched_list">
                                    <td>
                                        <a href="{{ this_month_dispatched.url }}" target="_blank"> {{ this_month_dispatched.chassis }} </a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>                    
                </tr>
            </tbody>     
        </table> 
       
    </div>  
</div>


<div class="modal fade" id="moveOrderModal">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title modal_title"> {{ modalTitle }} </h4>
            </div>
            <div class="modal-body">
                <form name="move_orders_form">

                    <div class="row move_orders">
                        <span class="col-md-4 col-md-offset-2">
                            <label>Schedule Month </label>
                            <select ng-model="move_month" ng-options="month.value as month.title|date: AppSettings.FORMAT_DATE_MONTH_SHORT_JS for month in monthList"
                              no-dirty-check>
                                <option value="">Select</option>
                            </select>
                        </span>
                        <span class="col-md-3">
                            <label> Order Position</label>
                            <input type="number" placeholder="" min="1" max="99999" maxlength="5" ng-model="new_position"/>
                        </span>
                    </div>
                </form>

                <div class="alert alert-warning" ng-if="clone.message">{{ clone.message }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="!(move_month && new_position)" ng-click="onMoveCmd()">Move</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>



    </div>
