<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <title>Notification E-mail</title>
</head>

<body>
  <div>
  Dear {{ driver_name }},
  <br>
  <br>
  <p>
  The van {{ chassis_no }} for {{ dealership_name }} is ready for pick up.
  <br>
  <p>
  Please reply to this email within 4 hours to provide us the time and date that you will be picking the van.
  <br>
  <p>
  Regards,
  <br>
  <p>
  Annesley Greig
  <br>
  </div>

  <div>
  <div style='float:left;'>

<img src="http://newage.a1-au.com/static/newage/images/naclogo.png" style="width:190px;height:190px;border-style:solid; border-width: 50px;border-color: white" />       
   
  
 </div>
   
      <div style="line-height: 40px;" > <b><h3>Annesley Greig | Transport Team </b> </h3></div>
      <div style="line-height: 40px;"> <b><font color=red> t  </font></b>| 03 9305 1714 </div>
      <div style="line-height: 40px;"> <b><font color=red> f </font></b>| 03 9305 4714 </div>
      <div style="line-height: 40px;"> <b><font color=red> a </font></b>| Po Box 1269 Epping Vic 3076 
      </div>
      <div style="line-height: 40px;"> <b><font color=red> w </font></b>| newagecaravans.com.au </div>
     </div>
         
    </div>

</body>
</html>
