{% extends "newage/generic/list.html" %}
{% load staticfiles %}

{% block bodyclass %}orders-list{% endblock %}
{% block breadcrumb_icon %}
    <img src="{% static 'newage/icons/orders.png' %}">
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'orders:list' %}">Quotes</a> {% if customer_filter %}> For customer {{ customer_filter }}{% endif %}
{% endblock %}

{% block page_heading %}Quotes{% endblock %}
{% block page_subheading %}
    Manage Quotes {% if can_create_order %}<a class='btn btn-primary pull-right' href="{% url 'newage:angular_app' app='orders' %}">Create New Order</a>{% endif %}
{% endblock %}
