{% extends "newage/generic/list.html" %}
{% load staticfiles %}

{% block bodyclass %}orders-list{% endblock %}
{% block breadcrumb_icon %}
    <img src="{% static 'newage/icons/orders.png' %}">
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'orders:list-cancelled' %}">Cancelled Orders</a>
{% endblock %}

{% block page_heading %}
    Cancelled Orders
{% endblock %}

{% block page_subheading %}
    Manage Orders <a rel="noreferrer noopener" target="_blank" class='btn btn-primary pull-right' href="{% url 'orders:export-cancelled' %}?{{ request.GET.urlencode }}">Export orders</a>
{% endblock %}
