{% extends "admin/base_site.html" %}
{% load alliance_bundle %}
{% load staticfiles %}
{% load script_json %}


{% block extrastyle %}
    {{ block.super }}
    {% alliance_bundle 'shared-bower-jqueryui' 'css' %}
    <link rel="stylesheet" type="text/css" href="{% static "orders/css/reassign.css" %}" />
{% endblock %}

{% block extrascript %}
    {{ block.super }}
    {% alliance_bundle 'shared-bower-jqueryui' 'js' %}
    <script type="text/javascript" src="{% static "orders/js/reassign.js" %}"></script>
    <script type="text/javascript">
        var dealership_members = {{ dealership_members|script_json }};
    </script>
{% endblock %}


{% block breadcrumb_icon %}
    <img src="{% static 'newage/icons/orders.png' %}">
{% endblock %}
{% block breadcrumbs %}
    Reassign Orders
{% endblock %}

{% block page_heading %}Reassign Orders{% endblock %}

{% block page_sub_heading %}
    SUB HEADING
{% endblock %}

{% block page_heading_extra %}
{% endblock %}

{% block content %}
    <div class="top-margin-40">
        <div class="row">
            <div class="col-sm-6 align-right">
                Show:
            </div>
            <div class="col-sm-6 align-left">
                <select id="show" name="show">
                    <option value="">Select Show</option>
                    {% for show in shows %}
                        <option value="{{ show.id }}">{{ show.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 align-right">
                Dealership:
            </div>
            <div class="col-sm-6 align-left">
                <select id="dealership" name="dealership">
                    <option value="">Select Dealership</option>
                    {% for dealership in dealerships %}
                        <option value="{{ dealership.id }}">{{ dealership.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 align-center bold">
                Number of Orders to be reassigned: <span id="result-count"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 align-right">
                Assign to:
            </div>
            <div class="col-sm-6 align-left">
                <select id="customer_manager" name="customer_manager" disabled="disabled"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 align-center">
                <button id="assign" class="btn btn-primary btn-lg">
                    Assign
                </button>
                <div class="progress"><div>Loading…</div></div>
            </div>
        </div>
        <div class="row align-center bold">
            <div id="result" class="col-sm-12"></div>
        </div>
    </div>
{% endblock %}
