
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    box-sizing: border-box;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-sm-12 {
    width: 100%;
}

.col-sm-11 {
    width: 91.66666667%;
}

.col-sm-10 {
    width: 83.33333333%;
}

.col-sm-9 {
    width: 75%;
}

.col-sm-8 {
    width: 66.66666667%;
}

.col-sm-7 {
    width: 58.33333333%;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-5 {
    width: 41.66666667%;
}

.col-sm-4 {
    width: 33.33333333%;
}

.col-sm-3 {
    width: 25%;
}

.col-sm-2 {
    width: 16.66666667%;
}

.col-sm-1 {
    width: 8.33333333%;
}

.red {
    color: red;
}


.html-display {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    width: 800px;
}

body {
    font-size: 9px;
    padding: 50px;
}

.dealer-logo {
    width: 100%;
}

.newage-logo {
    width: 70%;
}

.address {
    color: darkblue;
    margin-top: 1.4em;
}

.row > h1 {
    color: darkgray;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
}

.header {
    font-size: 1.2em;
    padding-top: 25%;
}

.main-photo {
    width: 100%;
}


.category_detail > h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
}

.category_detail > ul {
    list-style: outside none none;
    margin-top: 5px;
    padding-left: 10px;
}

.photos > ul {
    list-style: outside none none;
}

.photos li {
    margin-bottom: 10px;
    text-align: right;
}

.photos img {
    height: 100px;
}