<div id="transport_dashboard">
    
    <top-bar>
        <h2 class="top-bar__title">Delay Dashboard</h2>
    </top-bar>

    <messages>{{ order.messages }}</messages>
</div>

<div id="delay_dashboard_status">
    
    <div class="content">
       
        <table style="table-layout:auto">
            <thead>
                <tr>
                    <th style="background-color: #f49e95">Serial No</th>

                    <th style="background-color: #f49e95">Production Month</th>

                    <th style="background-color: #f49e95">Schedule No</th>                                              
                    <th style="background-color: #f49e95">Order Id </th>                                              
                    <th style="background-color: #f49e95">Manage</th>                          
                    <th style="background-color: #f49e95">Model Series</th>                          
                    <th style="background-color: #f49e95">Dealership</th> 
                    
                    <th style="background-color: #F9F989">Days Delayed <br> Within Production  </th>                       
                    
                    <th style="background-color: #5ee796">Planned Production Date  </th>                <!-- 6 --> 
                    <th style="background-color: #5ee796">Planned Dispatch Date  </th>                  <!-- 6 --> 
                    <th style="background-color: #5ee796">Actual Production Date  </th>                 <!-- 6 --> 
                    <th style="background-color: #5ee796">Days delayed to <br> Start Production </th>                       <!-- 6 --> 
                    
                    
                    <th style="background-color: #f9d959">Planned Chassis </th>                          
                    <th style="background-color: #f9d959">Actual Chassis </th>                       
                    <th style="background-color: #f9d959">Chassis Delay </th>

                    <th style="background-color: #82c0ea">Planned Building  </th>
                    <th style="background-color: #82c0ea">Actual Building  </th>                       
                    <th style="background-color: #82c0ea">Building Delay  </th>                                              
                    <th style="background-color: #c3c6c9">Planned  Pre-Wire  </th>
                    <th style="background-color: #c3c6c9">Actual Pre-Wire  </th>
                    <th style="background-color: #c3c6c9">Pre-Wire Delay  </th>

                    <th style="background-color: #FA9811">Planned  Plumbing  </th>
                    <th style="background-color: #FA9811">Actual Plumbing  </th>
                    <th style="background-color: #FA9811">Plumbing Delay  </th>

                    <th style="background-color: #76f4db">Planned Aluminium / <br> Fit Off  </th> 
                    <th style="background-color: #76f4db">Actual Aluminium / <br> Fit Off  </th> 
                    <th style="background-color: #76f4db"> Aluminium / <br> Fit Off Delay  </th> 

                    <th style="background-color: #d074f4">Planned Finishing  </th>
                    <th style="background-color: #d074f4">Actual Finishing  </th>
                    <th style="background-color: #d074f4">Finishing  </th>

                    <th style="background-color: #ABB2B9">Planned Detailing Canopy  </th>
                    <th style="background-color: #ABB2B9">Actual Detailing Canopy  </th>
                    <th style="background-color: #ABB2B9">Detailing Canopy Delay  </th>

                    <th style="background-color: #A9CCE3">Planned Water Testing  </th>                 
                    <th style="background-color: #A9CCE3">Actual Water Testing  </th>                    
                    <th style="background-color: #A9CCE3">Water Testing Delay  </th>                    

                 <!--    <th style="background-color: #5ee796">Planned QC  </th>
                    <th style="background-color: #5ee796">Actual QC  </th>
                    <th style="background-color: #5ee796"> QC Delay  </th> -->
                    
                    <th style="background-color: #f9d959">Planned QC </th>
                    <th style="background-color: #f9d959">Actual QC </th>
                    <th style="background-color: #f9d959">QC Delay </th>
                     
                </tr>
            </thead>
            <tbody>
                        <tr>
                        <td colspan="9"></td>
                        <td colspan="3"><a href ng-click="export_delay_all()" target="_blank">  <center> Export All</a></td>
                        <td colspan="3">
                            <a href ng-click="export_delay_chassis()" target="_blank">  <center>Export Chassis</a>
                        </td>
                        <td colspan="3">
                            <a href ng-click="export_delay_building()" target="_blank"> Export Building </a>
                        </td>
                        <td colspan="3">
                            <a href ng-click="export_delay_prewire()" target="_blank"> Export Pre Wire </a>
                        </td>
                        <td colspan="3">
                            <a href ng-click="export_delay_plumbing()" target="_blank"> Export Plumbing </a>
                        </td>
                        <td colspan="3">
                            <a href ng-click="export_delay_aluminium()" target="_blank">Export Aluminium </a>
                        </td>
                        <td colspan="3">
                            <a href ng-click="export_delay_finishing()" target="_blank"> Export Finishing</a>
                        </td>
                        <td colspan="3">
                            <a href ng-click="export_delay_detailing()" target="_blank"> Export Detailing</a>
                        </td>
                        <td colspan="3">
                            <a href ng-click="export_delay_watertesting()" target="_blank"> Export Water Testing </a>
                        </td>
                       <!--  <td colspan="3">
                            <a href ng-click="export_delay_actualqc()" target="_blank"> Export Actual QC </a>
                        </td> -->
                            
                        <td colspan="3">
                            <a href ng-click="export_delay_finalqc()" target="_blank"> Export QC </a>
                        </td>
                        </tr>                 
                        <tr ng-repeat="order in delay_list" ng-class-odd="'odd'" ng-class-even="'even'">               
                        <!-- <tr ng-repeat="order in delay_list | filter: { production_unit : 1 }" ng-class-odd="'odd'" ng-class-even="'even'">               -->
                                    <td>
                                       {{ $index + 1 }}
                                    </td>

                                    <td>
                                       {{ order.production_month  | date : "MMM - yyyy" }}
                                    </td>

                                    <td>
                                        {{ order.schno }}
                                    </td>

                                    <td>
                                        {{ order.id }}
                                    </td>

                                     
                                    <td>
                                    <a href="{{ order.url }}" target="_blank"> {{ order.chassis }} </a> 
                                    </td>
                                    <td>
                                        {{ order.model }}
                                    </td>
                                    <td>
                                        {{ order.dealership }}
                                    </td>
                                    

                                     <td>
                                        <div>
                                          <!-- Double Negation in ANgularjs adds the variables values -->  
                                        <div ng-if="order.roll_delay > 0">
                                         <font face="Arial" color='green'><b>{{ order.roll_delay }}</b></font>
                                        </div>

                                        <div ng-if="order.roll_delay < 0">
                                        <font face="Arial" color='red'><b>{{ order.roll_delay }}</b></font>
                                        </div>
                                        <div ng-if="order.roll_delay == 0">
                                        <font face="Arial" color='blue'><b>{{ order.roll_delay }}</b></font>
                                        </div>

                                        </b></font>
                                        </div>
 

                                        
                                    </td> 
                                    
                                    <td>
                                        {{ order.production_date | date : 'dd-MM-yyyy' }}
                                    </td>
                                    <td>   
                                        {{ order.planned_dispatch_date | date : 'dd-MM-yyyy' }}
                                    </td>
                                    <td>
                                        {{ order.actual_production_date | date : 'dd-MM-yyyy' }}
                                    </td>
                                    
                                    <td>
                                        <div ng-if="order.estimated_delay > 0">
                                         <font face="Arial" color='green'><b>{{ order.estimated_delay }}</b></font>
                                        </div>

                                        <div ng-if="order.estimated_delay < 0">
                                        <font face="Arial" color='red'><b>{{ order.estimated_delay }}</b></font>
                                        </div>
                                        <div ng-if="order.estimated_delay == 0">
                                        <font face="Arial" color='blue'><b>{{ order.estimated_delay }}</b></font>
                                        </div>

                                        
                                    </td> 

                                    <td>
                                        {{ order.planned_chassis | date : 'dd-MM-yyyy' }}
                                    </td>

                                     <td>
                                        {{ order.actual_chassis | date : 'dd-MM-yyyy' }}
                                     </td>

                                    <td>
                                        <div ng-if="order.chassis_delay > 0">
                                                 
                                         <font face="Arial" color='green'><b>{{ order.chassis_delay }}</b></font>
                                        </div>
                                        
                                        <div ng-if="order.chassis_delay < 0">
                                          
                                         <font face="Arial" color='red'><b>{{ order.chassis_delay }}</b></font>
                                         </div>

                                         <div ng-if="order.chassis_delay == 0">
                                          
                                         <font face="Arial" color='blue'><b>{{ order.chassis_delay }}</b></font>
                                         </div>
 
                                    </td>

                                    <td>

                                        {{ order.planned_building | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        {{ order.actual_building | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        <div ng-if="order.building_delay > 0">
                                                 
                                         <font face="Arial" color='green'><b>

                                        {{ order.building_delay }}
                                        </b></font>
                                        </div>
                                        
                                        <div ng-if="order.building_delay < 0">
                                          
                                         <font face="Arial" color='red'><b>

                                            {{ order.building_delay }}</b></font>
                                         </div>

                                        <div ng-if="order.building_delay == 0">
                                          
                                         <font face="Arial" color='blue'><b>{{ order.building_delay }}</b></font>
                                         </div>
                                    </td>


                                    <td>
                                        {{ order.planned_prewire | date : 'dd-MM-yyyy' }}
                                        
                                    </td>

                                    <td>
                                        {{ order.actual_prewire | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        <div ng-if="order.prewire_delay > 0">
                                                 
                                         <font face="Arial" color='green'><b>

                                        {{ order.prewire_delay }}
                                        </b></font>
                                        </div>
                                         
                                         <div ng-if="order.prewire_delay < 0">
                                          
                                         <font face="Arial" color='red'><b>

                                            {{ order.prewire_delay }}</b></font>
                                         </div>

                                         <div ng-if="order.prewire_delay == 0">
                                          
                                         <font face="Arial" color='blue'><b>
                                            {{ order.prewire_delay }}</b></font>
                                         </div>
                                    </td>


                                    <td>
                                        {{ order.planned_plumbing | date : 'dd-MM-yyyy' }}
                                        
                                    </td>

                                    <td>
                                        {{ order.actual_plumbing | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        <div ng-if="order.plumbing_delay > 0">
                                         <font face="Arial" color='green'><b>{{ order.plumbing_delay }}</b></font>
                                        </div>
                                        <div ng-if="order.plumbing_delay < 0"> <font face="Arial" color='red'><b>{{ order.plumbing_delay }}</b></font> 
                                        </div>
                                         <div ng-if="order.plumbing_delay == 0"> <font face="Arial" color='blue'><b>{{ order.plumbing_delay }}</b></font> 
                                        </div>
                                    </td>



                                    <td>
                                        {{ order.planned_aluminium | date : 'dd-MM-yyyy' }}
                                        
                                    </td>

                                    <td>
                                        {{ order.actual_aluminium | date : 'dd-MM-yyyy' }}
                                        
                                    </td>

                                    <td>
                                        <div ng-if="order.aluminium_delay > 0">
                                                 
                                         <font face="Arial" color='green'><b>
                                                {{ order.aluminium_delay }}
                                        </b></font>
                                        </div>
                                        
                                        <div ng-if="order.aluminium_delay < 0">
                                        <font face="Arial" color='red'><b> {{ order.aluminium_delay }}</b></font>
                                        </div>
                                        <div ng-if="order.aluminium_delay == 0">
                                        <font face="Arial" color='blue'><b> {{ order.aluminium_delay }}</b></font>
                                        </div>

                                    </td>



                                    <td>
                                        {{ order.planned_finishing | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        {{ order.actual_finishing | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>

                                         <div ng-if="order.finishing_delay > 0">
                                                 
                                         <font face="Arial" color='green'><b>

                                        {{ order.finishing_delay }}
                                        </b></font>
                                        </div>
                                        
                                        <div ng-if="order.finishing_delay < 0">
                                        <font face="Arial" color='red'><b>{{ order.finishing_delay }}</b></font>
                                        </div>

                                        <div ng-if="order.finishing_delay == 0">
                                        <font face="Arial" color='blue'><b>{{ order.finishing_delay }}</b></font>
                                        </div>
                                    </td>



                                    <td>
                                        {{ order.planned_detailing | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        {{ order.actual_detailing | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        <div ng-if="order.detailing_delay > 0">
                                                 
                                         <font face="Arial" color='green'><b>

                                        {{ order.detailing_delay }}
                                        </b></font>
                                        </div>
                                        <div ng-if="order.detailing_delay < 0">
                                        <font face="Arial" color='red'><b>{{ order.detailing_delay }}</b></font>
                                        </div>
                                        <div ng-if="order.detailing_delay == 0">
                                        <font face="Arial" color='blue'><b>{{ order.detailing_delay }}</b></font>
                                        </div>
                                    </td>



                                    <td>
                                        {{ order.planned_watertest | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        {{ order.actual_watertest | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        <div ng-if="order.watertest_delay > 0">
                                        <font face="Arial" color='green'> <b> {{order.watertest_delay}}</b></font>
                                        </div>
                                        
                                        <div ng-if="order.watertest_delay < 0">
                                        <font face="Arial" color='red'><b>{{ order.watertest_delay }}</b></font>
                                        </div>

                                        <div ng-if="order.watertest_delay == 0">
                                        <font face="Arial" color='blue'><b>{{ order.watertest_delay }}</b></font>
                                        </div>
                                    </td>

<!-- 
                                    <td>
                                        {{ order.planned_actual_qc | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        {{ order.actual_qc | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        
                                        <div ng-if="order.actual_qc_delay > 0">
                                        <font face="Arial" color='green'><b> {{ order.actual_qc_delay }}</b></font>
                                        </div>
                                        
                                        <div ng-if="order.actual_qc_delay < 0">
                                        <font face="Arial" color='red'><b>{{ order.actual_qc_delay }}</b></font>
                                        </div>
                                        
                                        <div ng-if="order.actual_qc_delay == 0">
                                        <font face="Arial" color='blue'><b>{{ order.actual_qc_delay }}</b></font>
                                        </div>
                                    </td>

 -->
                                    <td>
                                        {{ order.planned_final_qc | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        {{ order.actual_final_qc | date : 'dd-MM-yyyy' }}
                                    </td>

                                    <td>
                                        
                                        <div ng-if="order.final_qc_delay > 0">
                                        <font face="Arial" color='green'><b> {{ order.final_qc_delay }} </b></font>
                                        </div>
                                        
                                        <div ng-if="order.final_qc_delay < 0">
                                        <font face="Arial" color='red'><b> {{ order.final_qc_delay }}</b></font>
                                        </div>

                                        <div ng-if="order.final_qc_delay == 0">
                                        <font face="Arial" color='blue'><b> {{ order.final_qc_delay }}</b></font>
                                        </div>
                                    </td>


                                </tr>
                                  
                            <tbody>
                        </table>
                         <p>* Days in <font face='Verdana' color='green'> <b> green color are  positive </b><font>indicate ahead of schedule  
        <p>      ** Days in <font face='Verdana' color='red'> red color</font> with<font face='Verdana' color='red'>  - sign </font> indicate behind schedule
                 
    </div>  
</div>


 


</div>
