boto==2.49.0
boto3==1.9.75
botocore==1.12.75
certifi==2017.4.17
chardet==3.0.3
diff-match-patch==20121119
Django==1.8.18
-e git+https://github.com/django-admin-bootstrapped/django-admin-bootstrapped.git@30380f20cc82e898754e94b5d12cacafabca01bd#egg=django_admin_bootstrapped
django-anymail==1.2
django-appconf==1.0.2
django-apptemplates==1.2
django-authtools==1.5.0
django-bootstrap3==8.2.3
django-ckeditor==5.2.2
django-compat==1.0.14
django-compressor==2.1.1
django-extensions==1.7.9
django-filebrowser-no-grappelli==3.7.1
django-filter==0.15.3
django-floppyforms==1.7.0
django-form-utils==1.0.3
django-hijack==2.1.4
django-import-export==0.5.1
django-permanent==1.1.6
Django-Select2==5.10.0
django-storages==1.6.5
django-tables2==1.6.1
-e git+https://github.com/levic/django-webpack-loader.git@73d7c0847791dd0fcb3587479c1a4f7929a493ed#egg=django_webpack_loader
djangorestframework==3.6.3
docopt==0.4.0
docutils==0.14
freezegun==0.3.9
gunicorn==19.7.1
idna==2.5
jmespath==0.9.3
#lxml==3.7.3
mandrill==1.0.57
MySQL-python==1.2.5
olefile==0.44
#Pillow==4.1.1
python-dateutil==2.6.0
pytz
rcssmin==1.0.6
requests==2.17.3
rjsmin==1.0.12
rules==1.2.1
s3transfer==0.1.13
six==1.10.0
#snakefood==1.4
spyne==2.12.14
sqlparse==0.2.3
#suds==0.4
tablib==0.11.4
tzlocal==1.2
unicodecsv==0.14.1
Unipath==1.1
urllib3==1.21.1
Werkzeug==0.12.2
whitenoise==3.3.0
xlrd==1.0.0
xmltodict==0.11.0
openpyxl==2.6.2
